<div class="card">
    <div class="card-img">
        <img class="card-img-top" src="{{ image }}" alt="{{ alt }}">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <p class="card-text">{{ text }}</p>
    </div>
    <twig:Button
        text="Voir plus"
        type="primary"
    />
</div>