<div id="searchBarContainer" class="searchBar-container">
    <form id="searchBar" action="">
        <div class="form-floating">
            <input class="form-control" type="text" name="{{ name }}" id="{{ name }}" placeholder="">
            <label for="{{ name }}">{{ label }}</label>
        </div>
    </form>
</div>