<div id="searchBarContainer" class="searchBar-container">
    <form id="searchBar" action="">
        <label for="{{ name }}">{{ label }}</label>
        <input class="form-control" type="text" name="{{ name }}" id="{{ name }}" placeholder="...">
    </form>
</div>